<header class="header" id="header">
  <div class="header__logo">
    <span>BM.</span>
  </div>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#about" class="nav__link">About</a>
      </li>
      <li class="nav__item">
        <a href="#projects" class="nav__link">Projects</a>
      </li>
      <li class="nav__item">
        <a href="#contact" class="nav__link">Contact</a>
      </li>

      <li class="nav__item--icon">
        <a
          href="https://github.com/bradmeyn"
          target="_blank"
          class="nav__link--icon"><i class="fab fa-github"></i></a
        >
      </li>

      <li class="nav__item--icon">
        <a
          href="https://codepen.io/bradmeyn"
          target="_blank"
          class="nav__link--icon"
        >
          <i class="fab fa-codepen"></i>
        </a>
      </li>

      <li class="nav__item--icon">
        <a
          href="https://linkedin.com/in/bradmeyn"
          target="_blank"
          class="nav__link--icon"><i class="fab fa-linkedin-in"></i></a
        >
      </li>
    </ul>

    <ul class="icon-nav">
      <li class="icon-nav__item">
        <a
          href="https://github.com/bradmeyn"
          target="_blank"
          class="icon-nav__link"
        >
          <span class="icon-nav__icon">
            <i class="fab fa-github"></i>
            <div class="icon-nav__title">GitHub</div>
          </span>
        </a>
      </li>
      <li class="icon-nav__item">
        <a
          href="https://codepen.io/bradmeyn"
          target="_blank"
          class="icon-nav__link"
        >
          <span class="icon-nav__icon">
            <i class="fab fa-codepen"></i>
            <div class="icon-nav__title">Codepen</div>
          </span>
        </a>
      </li>
      <li class="icon-nav__item">
        <a
          href="https://linkedin.com/in/bradmeyn"
          target="_blank"
          class="icon-nav__link"
        >
          <span class="icon-nav__icon">
            <i class="fab fa-linkedin-in"></i>
            <div class="icon-nav__title">LinkedIn</div>
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <button aria-label="Menu" class="hamburger" aria-haspopup="true">
    <div class="hamburger__box">
      <div class="hamburger__line"></div>
    </div>
  </button>
</header>
