---
import Container from "./shared/Container.astro";
import { OPENING_HOURS } from "../constants";
---

<section class="py-14 bg-slate-900">
  <Container>
    <small class="text-violet-300 font-bold">Appointments</small>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <div class="max-w-[500px]">
        <h2 class="text-3xl mb-4 text-slate-100 font-semibold">
          Opening Hours
        </h2>
        {
          OPENING_HOURS.map((oh) => (
            <p class="flex justify-between gap-3 mb-2 text-slate-300 border-b border-slate-700">
              <span>{oh.day}</span>
              <span>{oh.hours}</span>
            </p>
          ))
        }
      </div>

      <div class="w-full">
        <img
          class="w-full h-full object-cover object-center rounded"
          src="/images/Map-Placeholder.png"
          alt="Barbershop"
        />
      </div>
    </div>
  </Container>
</section>

<style>
  svg {
    fill: #956ddf;
  }
</style>
