---
const links = [
  {
    label: "Home",
    url: "/",
  },
  {
    label: "Services",
    url: "/services",
  },

  {
    label: "Github",
    url: "/github",
  },
];

import Container from "./shared/Container.astro";
---

<header class="header text-white py-3 md:py-1" id="header">
  <Container>
    <nav class="navbar">
      <a href="/" class="navbar__logo">
        <span>LOGO</span>
      </a>

      <div class="navbar__links bg-slate-900">
        <ul>
          {
            links.map((link) => (
              <li class="nav__item">
                <a
                  href="{{ link.url }}"
                  class="nav__link text-violet-300 text-4xl md:text-white md:text-xl"
                >
                  {link.label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <button class="hamburger group">
        <div class="hamburger__line group-hover:bg-violet-600"></div>
        <div class="hamburger__line group-hover:bg-violet-600"></div>
        <div class="hamburger__line group-hover:bg-violet-600"></div>
      </button>
    </nav>
  </Container>
</header>

<style is:global>
  header {
    position: fixed;
    z-index: 100;
    width: 100%;
  }

  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }

  .navbar__logo {
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 1000;
  }

  .navbar__links {
    height: 100vh;
    width: 75%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    visibility: hidden;
    transition: transform 0.3s ease-in-out;
  }

  ul {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
  }

  li,
  li a {
    width: 100%;
  }

  body.navbar--active {
    overflow: hidden;
  }

  .navbar--active .navbar__links {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .nav__item {
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .hamburger {
    z-index: 1000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .hamburger__line {
    background-color: #fff;
    height: 2px;
    width: 25px;
    margin: 5px 0;
    transition: 0.2s ease-in-out;
  }

  .navbar--active .hamburger__line:nth-child(1) {
    transform: translatey(7px) rotate(45deg);
    background-color: salmon;
  }

  .navbar--active main,
  .navbar--active footer {
    filter: blur(200px);
  }

  .navbar--active .hamburger__line:nth-child(2),
  .navbar--active .hamburger:hover .hamburger__line:nth-child(2) {
    background: rgba(0, 0, 0, 0);
  }

  .navbar--active .hamburger__line:nth-child(3) {
    transform: translatey(-7px) rotate(-45deg);
    @apply bg-orange-500;
  }

  .hamburger:hover .hamburger__line {
    /* background-color: gray; */
  }

  .navbar--active .hamburger:hover .hamburger__line {
    @apply bg-orange-500;
  }

  @media (min-width: 768px) {
    .hamburger {
      display: none;
    }

    ul {
      margin-top: auto;
      position: relative;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .navbar__links {
      position: relative;
      width: auto;
      height: auto;
      visibility: visible;
      transform: translateX(0);
      transition: none;
      background-color: transparent;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Get the header after the DOM is fully loaded
    const header = document.querySelector("header");
    const hamburger = document.querySelector(".hamburger");
    const nav = document.querySelector(".navbar");
    const navLinks = document.querySelectorAll(".nav__link");

    function toggleMenu() {
      document.body.classList.toggle("navbar--active");
    }

    function deactivateMenu() {
      document.body.classList.remove("navbar--active");
    }

    hamburger?.addEventListener("click", toggleMenu);

    // Close navbar when a nav link is clicked
    navLinks.forEach((link) => {
      link.addEventListener("click", deactivateMenu);
    });

    // Close navbar when clicking outside
    document.addEventListener("click", (e) => {
      const isClickInsideNav =
        nav?.contains(e.target as Node) ||
        hamburger?.contains(e.target as Node);

      if (!isClickInsideNav) {
        deactivateMenu();
      }
    });

    // Background color change on scroll
    window.addEventListener("scroll", () => {
      if (header) {
        if (window.scrollY > 0) {
          header.classList.add("header-scrolled", "bg-slate-900");
        } else {
          header.classList.remove("header-scrolled", "bg-slate-900");
        }
      }
    });

    // Close mobile menu on resize
    window.addEventListener("resize", () => {
      if (window.innerWidth > 760) {
        hamburger?.classList.remove("hamburger--active");
        nav?.classList.remove("navbar--active");
      }
    });
  });
</script>
