---
import Container from "../components/shared/Container.astro";
---

<section class="py-14">
  <Container>
    <small class="text-violet-500 font-bold">Services</small>
    <h2 class="text-4xl mb-4 text-slate-700 font-semibold">
      Quality Haircuts & Styling
    </h2>

    <div class="flex flex-wrap gap-4">
      <div
        class="relative rounded overflow-hidden flex-grow min-w-[250px] h-[300px]"
      >
        <img
          src="/images/salon-shampoo.jpg"
          class="object-cover object-center w-full h-full absolute z-0"
        />
        <!-- Overlay -->
        <div class="absolute inset-0 bg-slate-900 opacity-40 z-10"></div>

        <div
          class="absolute bottom-0 flex flex-col items-center justify-center z-20 p-2"
        >
          <h3 class="text-4xl text-white font-semibold">Treatments</h3>
          <!-- <p class="text-white text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatum, quibusdam, quia, quod voluptates
          </p> -->
        </div>
      </div>

      <div
        class="relative rounded overflow-hidden flex-grow min-w-[250px] h-[300px]"
      >
        <img
          src="/images/salon-shampoo.jpg"
          class="object-cover object-center w-full h-full absolute z-0"
        />
        <!-- Overlay -->
        <div class="absolute inset-0 bg-slate-900 opacity-40 z-10"></div>

        <div
          class="absolute bottom-0 flex flex-col items-center justify-center z-20 p-2"
        >
          <h3 class="text-4xl text-white font-semibold">Treatments</h3>
          <!-- <p class="text-white text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatum, quibusdam, quia, quod voluptates
          </p> -->
        </div>
      </div>

      <div
        class="relative rounded overflow-hidden flex-grow min-w-[250px] h-[300px]"
      >
        <img
          src="/images/salon-shampoo.jpg"
          class="object-cover object-center w-full h-full absolute z-0"
        />
        <!-- Overlay -->
        <div class="absolute inset-0 bg-slate-900 opacity-40 z-10"></div>

        <div
          class="absolute bottom-0 flex flex-col items-center justify-center z-20 p-2"
        >
          <h3 class="text-4xl text-white font-semibold">Treatments</h3>
          <!-- <p class="text-white text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatum, quibusdam, quia, quod voluptates
          </p> -->
        </div>
      </div>

      <div
        class="relative rounded overflow-hidden flex-grow min-w-[250px] h-[300px]"
      >
        <img
          src="/images/salon-shampoo.jpg"
          class="object-cover object-center w-full h-full absolute z-0"
        />
        <!-- Overlay -->
        <div class="absolute inset-0 bg-slate-900 opacity-40 z-10"></div>

        <div
          class="absolute bottom-0 flex flex-col items-center justify-center z-20 p-2"
        >
          <h3 class="text-4xl text-white font-semibold">Treatments</h3>
          <!-- <p class="text-white text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            voluptatum, quibusdam, quia, quod voluptates
          </p> -->
        </div>
      </div>
    </div>

    <a
      class="text-violet-500 font-bold underline py-4 block text-xl"
      href="/pricing">View full list ></a
    >
  </Container>
</section>
